@font-face {
    font-family: 'Montserrat';
    src: url(~/assets/fonts/Montserrat-VariableFont_wght.ttf) format('truetype');
    font-weight: 400 700;
    font-style: normal;
}

:root {
    /* Cores */
    --primary: #8FC93A;
    --secondary: #E18335;
    --tertiary: #E4CC37;
    --quaternary: #374B57;
    --background: #1E91D6;
    --text: #EAEAEA;
  
    /* Espaçamentos */
    --spacing-xs: 4px;
    --spacing-sm: 8px;
    --spacing-smd: 12px;
    --spacing-md: 20px;
    --spacing-lg: 36px;
  
    /*! - - - - - - Tipografia (falta ajustar os sizes) - - - - - -  */
    --font-family: 'Montserrat, Arial, sans-serif';
    --font-size-base: 16px;
    --font-size-input: 20px;
    --font-size-slg: 28px;
    --font-size-lg: 36px;
  }

  @media (prefers-color-scheme: dark) {
    :root:not(.light) {
        --background: #2F3239;
    }
  }

  .light {
    --background: #1E91D6;
  }

  .dark {
    --background: #2F3239;
  }